@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', sans-serif;
    text-transform:uppercase;
    text-align: center;
}
.header-container {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 3em;
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
    border-radius: 5px;
}
h1 {
    padding: 0.25em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
    text-indent: 5px;
    text-shadow: 0 0 5px black;;
}

body {
    display: flex;
    flex-direction:column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

small {
    font-size: 12px;
    margin-top: 2em;
}

small a {
    text-decoration: none;
    color: rgba(121, 204, 252, 0.507);
    transition: 0.5s linear;
    font-size: 10px;
}

small a:hover {
    color: rgba(121, 204, 252, 1);
    text-shadow: 0 0 5px rgba(167, 223, 255, 0.753);
}

canvas {
    box-shadow: 0 0 25px rgb(121, 204, 252);
    border-radius: 30px;
    /* helps with border-aliasing */
    border: 1px solid transparent;

}

@media (min-width: 300px) {
    canvas {
        width: 300px;
    }
}

@media (min-width: 900px) {
    canvas {
        width: 420px;
    }
}

@media (min-width: 1080px) {
    canvas {
        width: 550px;
    }
}

@media (min-height: 1080px) {
    canvas {
        width: 750px;
    }
}