@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', sans-serif;
    text-transform:uppercase;
    text-align: center;
}

body {
    display: flex;
    flex-direction:column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

small {
    font-size: 12px;
    margin-top: 2em;
}

small a {
    text-decoration: none;
    color: rgba(121, 204, 252, 0.507);
    transition: 0.5s linear;
    font-size: 10px;
}

small a:hover {
    color: rgba(121, 204, 252, 1);
    text-shadow: 0 0 5px rgba(167, 223, 255, 0.753);
}

canvas {
    box-shadow: 0 0 25px rgb(121, 204, 252);
    border-radius: 30px;
    /* helps with border-aliasing */
    border: 1px solid transparent;
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering:pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

@media (min-width: 300px) {
    canvas {
        width: 300px;
    }
}

@media (min-width: 900px) {
    canvas {
        width: 420px;
    }
}

@media (min-width: 1080px) {
    canvas {
        width: 550px;
    }
}

@media (min-height: 1080px) {
    canvas {
        width: 750px;
    }
}